.home-nav{
    background-color: #573BA3;
    height: 100px;
}

.home-logo{
    float: left;
    display: inline-block;
    padding-left: 100px;
    padding-top: 10px;
}

.home-operation{
    float: left;
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.home-operation div img{
    width: 30px;
    height: 30px;
    padding-top: 40px;
}

.title{
    padding-top: 50px;
    color: black;
    text-align: center;
    font: 46px "GT Super Bold", serif;
    font-weight: bolder;
    background-color: #573BA3;
    color: white;
}

.search{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #573BA3;
}

.home-search{
    text-align: center;
    float: left;
    padding-top: 30px;
    padding-left: 20px;
}

.home-search .box{
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: 45px;
    padding-left: 20px;
    padding-right: 50px;
}

.home-search .btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: #DE2454;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 3px;
}

.search .box{
    border-radius: 20px;
    display: inline-block;
    width: 200px;
    height: 45px;
    padding-left: 20px;
    padding-right: 50px;
}

.search .btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: #DE2454;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 3px;
}

.trending{

}

.trend-title{
    margin-top: 20px;
    font: 34px "GT Super Bold",serif;
    color: #2B0F42;
    text-align: center;
    margin-bottom: 20px;
}

.trend-list{
    overflow: scroll;
    scroll-snap-type: x mandatory;
    width: 1024px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

.trend-book{
    padding: 5px;
    display: inline-block;
}

.home-footer{
    font: 20px "GT Super Bold",serif;
}

.home-items{
    float: left;
    display: inline-block;
    margin-left: 100px;
    width: 400px;
}

.home-item{
    display: inline-block;
    border-radius: 20px;
    font: 20px "GT Super Bold",serif;
    color: whitesmoke;
    height: 60px;
    width: 100px;
    text-align: center;
    padding-top: 40px;
}

.home-items a:hover{
    font-weight: bolder;
    cursor: pointer;
    background-color: yellow;
}


.popup-box{
    display: none;
    position: absolute;
    margin-top: 0px;
    background-color: #f9f9f9;
    min-width: 100px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 8px;
}

.popup-item a{
    text-align: left;
    font: 12px "IBM Plex Sans", sans-serif;
    color: #DE2454;
    padding-left: 12px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
}

.popup-item a:hover{
    /*font-weight: bolder;*/
    text-decoration: underline;
}

.home-operation:hover{
    cursor: pointer;
}

.home-operation:hover .popup-box{
    display: block;
}