.keyword{
    font: 34px "GT Super Bold", serif;
    margin-bottom: 12px;
    font-weight: bolder;
    margin-top: 20px;
}

.booklist{
    /*width: 1024px;*/
    display: grid;
    grid-column-gap: 10px;
    column-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-row-gap: 15px;
    row-gap: 40px;
}

.book{
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: auto auto auto 1fr auto auto;
    border-bottom: 0px;
    display: grid;
}

.book-img{
    margin-bottom: 15px;
}

.book-title{
    font: 20px "GT Super Bold",serif;
    font-weight: bolder;
    margin-bottom: 3px;
}

.book-author{
    font: 16px "GT Super Bold",serif;
    color: #2C293B;
    margin-bottom: 3px;
}

.book-price{
    font: 18px "GT Super Bold",serif;
    color: #2C293B;
    margin-bottom: 3px;
    font-weight: bolder;
}

.book-add{
    font: 15px "GT Super Bold",serif;
    font-weight: bolder;
}

.book-img-cover{
    height: 255px;
    padding-left: 10px;
    background-color: #f6f5f7;
}

.keyword-selector{
    display: flex;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 10px;
}

.keyword-selector li{
    padding: 4px;
    background-color: #e6e3e8;
}

.keyword-selector li:first-child {
    border-radius: 10px 0 0 10px;
}

.keyword-selector li:last-child {
    border-radius: 0px 10px 10px 0;
}

.keyword-selector a{
    height: 39px;
    width: 140px;
    font: 15px "GT Super Bold",serif;
    border-radius: 10px;
    display: block;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
    color: black;
    font-weight: lighter;
}

.keyword-selector a:hover{
    color: black;
}


.keyword-selector .active{
    background-color: #FFFFFF;
}


.cate-list{
    max-width: 90%;
    border-radius: 10px;
    display: grid;
    grid-column-gap: 10px;
    column-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-row-gap: 15px;
    row-gap: 1px;
}

.cate{
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font: 10px "GT Super Bold",serif;
    font-weight: bolder;
}

.cate a{
    width: 200px;
    line-height: 50px;
    display: block;
}

.cate:hover{
    background-color: #e6e3e8;
    cursor: pointer;
}

.pagebox{
    margin-top: 25px;
    font-family: "GT Super Bold";
    font-size: 20px;
}

.pagebox:hover{
    cursor: pointer;
}