{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Add Books
{% endblock %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block body_block %}

    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Add Book</h3></div>
                <hr/>
                {#                <div class="sub-keyword">Book Name</div>#}
                <div class="address-box">
                    <div class="address-item">
                        <div class="address-key">Book Name</div>
                        <input type="text" id="title" class="layui-input address-val" name="name"/>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Author</div>
                        <input type="text" id="author" class="layui-input address-val" name="author"/>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Image Link</div>
                        <input type="text" id="img" class="layui-input address-val" name="img"/>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Category</div>
                        <select id="category" class="layui-select address-val" name="category"/>
                        {% if category_list %}
                            {% for category in category_list %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option>No Option</option>
                        {% endif %}
                        </select>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Description</div>
                        <textarea id="desc" class="layui-textarea address-val" name="desc"/></textarea>
                    </div>
                    <div style="background-color: #DE2454;border-radius: 20px;font-family: 'GT Super Bold', serif"
                         class="layui-btn layui-btn-danger"><i
                            class="layui-icon layui-icon-edit"></i>
                        ADD
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block script_block %}
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;

            window.add = function () {
                $.ajax({
                    url: '{% url 'rango:admin_add_books' %}',
                    type: 'POST',
                    data: {
                        'title': $('#title').val(),
                        'author': $('#author').val(),
                        'img': $('#img').val(),
                        'category': $('#category').val(),
                        'desc': $('#desc').val()
                    },
                    success: function (ret) {
                        if (ret.code == 200) {
                            layer.confirm('Add made successfully', {
                                btn: ['Got it'],
                                title: 'Information',
                                closeBtn: 1,
                                shadeClose: true,
                            }, function (index, layero) {
                                location.href = '{% url 'rango:admin_books' %}'
                            });
                        }
                    }
                })
            }


        });
    </script>
{% endblock %}
