{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Your Orders
{% endblock %}
{% block body_block %}
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    {% endblock %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Manage Categories</h3></div>
                <div class="control">
                    <a href="{% url 'rango:admin_add_categories' %}" class="layui-btn add-btn"><i
                            class="layui-icon layui-icon-add-1"></i> New Category</a>
                </div>
                <div class="control layui-input-inline">
                    <input value="{{ keyword }}" id="keyword" type="text" name="keyword" autocomplete="off"
                           placeholder="Search: name"
                           class="layui-input control-input"/>
                    <button onclick="search()" class="control-btn" type="submit"><img width="20px" height="20px"
                                                                                      src="{% static 'images/search.png' %}"/>
                    </button>
                </div>

                <div class="order-list">
                    <table class="layui-table" style="font-family: 'GT Super Bold', serif;font-size: 20px;"
                           lay-skin="line">
                        <colgroup>
                            <col width="500">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Category Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if category_list %}
                            {% for category in category_list %}
                                <tr>
                                    <td>{{ category.name }}</td>
                                    <td>
                                        <a href="{% url 'rango:admin_edit_categories' category.slug %}"
                                           class="layui-btn layui-btn-sm layui-btn-primary">Edit</a>
                                        <a class="layui-btn layui-btn-sm layui-btn-danger">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script_block %}
    <script>
        function search() {
            var keyword = $('#keyword').val()
            location.href = "{% url 'rango:admin_categories' %}?keyword=" + keyword;
        }
    </script>
{% endblock %}


