{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Profile
{% endblock %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block body_block %}

    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Edit Category</h3></div>
                <hr/>
                <div class="address-box">
                    <div class="address-item">
                        <div class="address-key">Category Name</div>
                        <input type="text" class="layui-input address-val" id="name" name="name" value="{{ category.name }}"/>
                    </div>

                    <a onclick="edit()" style="background-color: #DE2454;border-radius: 20px;font-family: 'GT Super Bold', serif"
                         class="layui-btn layui-btn-danger"><i
                            class="layui-icon layui-icon-edit"></i>
                        SAVE
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script_block %}
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;

            window.edit = function () {
                $.ajax({
                    url: '{% url 'rango:admin_edit_categories' category.slug %}',
                    type: 'POST',
                    data: {
                        'name': $('#name').val()
                    },
                    success: function (ret) {
                        if (ret.code == 200) {
                            layer.confirm('Edit made successfully', {
                                btn: ['Got it'],
                                title: 'Information',
                                closeBtn: 1,
                                shadeClose: true,
                            }, function (index, layero) {
                                location.href = '{% url 'rango:admin_categories' %}'
                            });
                        }
                    }
                })
            }


        });
    </script>
{% endblock %}