{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Profile
{% endblock %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block body_block %}

    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Edit Book</h3></div>
                <hr/>
{#                <div class="sub-keyword">Book Name</div>#}
                <div class="address-box">
                    <div class="address-item">
                        <div class="address-key">Book Name</div>
                        <input type="text" id="title" class="layui-input address-val" name="title" value="{{ book.title }}"/>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Author</div>
                        <input type="text" id="author" class="layui-input address-val" name="author" value="{{ book.author }}"/>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Image Link</div>
                        <input type="text" id="img" class="layui-input address-val" name="img" value="{{ book.img }}"/>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Category</div>
                        <select class="layui-select address-val" name="category" id="category"/>
                            <option>fiction</option>
                        </select>
                    </div>
                    <div class="address-item">
                        <div class="address-key">Description</div>
                        <textarea id="desc" class="layui-textarea address-val" name="desc">{{ book.desc }}</textarea>
                    </div>
                    <div onclick="edit()" style="background-color: #DE2454;border-radius: 20px;font-family: 'GT Super Bold', serif"
                         class="layui-btn layui-btn-danger"><i
                            class="layui-icon layui-icon-edit"></i>
                        SAVE
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}



{% block script_block %}
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;

            window.edit = function () {
                $.ajax({
                    url: '{% url 'rango:admin_edit_books' book.slug %}',
                    type: 'POST',
                    data: {
                        'previous_title': '{{ book.title }}',
                        'title': $('#title').val(),
                        'author': $('#author').val(),
                        'img': $('#img').val(),
                        'category':$('#category').val(),
                        'desc':$('#desc').val(),
                        "id":{{ book.id }}
                    },
                    success: function (ret) {
                        if (ret.code == 200) {
                            layer.confirm('Edit made successfully', {
                                btn: ['Got it'],
                                title: 'Information',
                                closeBtn: 1,
                                shadeClose: true,
                            }, function (index, layero) {
                                location.href = '{% url 'rango:admin_books' %}'
                            });
                        }
                    }
                })
            }


        });
    </script>
{% endblock %}

