<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Rango -
        {% block title_block %}
            Get what you want
        {% endblock %}
    </title>
    {% block head_block %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
    <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
</head>
<body>


<div class="home-nav">
    <div class="home-logo">
        <img src="{% static 'images/logo.png' %}"/>
    </div>
    <div class="home-items">
        <a class="home-item" href="{% url 'rango:index' %}">Home</a>
        <a class="home-item" href="{% url 'rango:products' %}">Books</a>
    </div>
    <div class="home-search">
        <div class="layui-input-inline">
            <input type="text" placeholder="Search" autocomplete="off" class="box layui-input">
            <button lay-submit class="btn" type="submit"><img width="20px" height="20px"
                                                                  src="{% static 'images/search.png' %}"/></button>

        </div>
    </div>
    <div class="home-operation">
        <a href="{% url 'rango:bought' %}"><img src="{% static 'images/user.png' %}"/> </a>
    </div>
</div>
{% block body_block %}

{% endblock %}
<div id="footer">

    <div class="footer home-footer" style="background-color: #573BA3;">
        <div class="mod_help w1200" style="padding-top: 10px;">
            <p style="color: white">
                <a href="javascript:;" style="color: white">About us</a>
                <span>|</span>
                <a href="javascript:;" style="color: white">Map site</a>
            </p>
            <p class="coty" style="color: white">2021 Internet Technology - Team abc</p>
        </div>
    </div>
</div>
</body>
</html>