<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Rango -
        {% block title_block %}
            Get what you want
        {% endblock %}
    </title>
    {% block head_block %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>


<div class="home-nav">
    <div class="home-logo">
        <img src="{% static 'images/logo.png' %}"/>
    </div>
    <div class="home-items">
        <a class="home-item" href="{% url 'rango:index' %}">Home</a>
        <a class="home-item" href="{% url 'rango:products' %}">Books</a>
        <a class="home-item" href="{% url 'rango:categories' %}">Categories</a>
    </div>
    <div style="width: 300px;height: 1px;display: inline-block;"></div>
    <div class="home-operation" style="z-index: 999">
        <div class="home-user" href="{% url 'rango:bought' %}"><img src="{% static 'images/user.png' %}"/></div>
        <div class="popup-box">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <div class="popup-item"><a href="{% url 'rango:admin_orders' %}">Orders</a></div>
                    <div class="popup-item"><a href="{% url 'rango:admin_books' %}">Books</a></div>
                    <div class="popup-item"><a href="{% url 'rango:admin_categories' %}">Categories</a></div>
                {% else %}
                    <div class="popup-item"><a href="{% url 'rango:bought' %}">My Orders</a></div>
                {% endif %}
                <div class="popup-item"><a href="{% url 'rango:logout' %}">Logout</a></div>
            {% else %}
                <div class="popup-item"><a href="{% url 'rango:login' %}">Login</a></div>
                <div class="popup-item"><a href="{% url 'rango:register' %}">Sign Up</a></div>
            {% endif %}
        </div>
    </div>

     {% if user.is_authenticated and not user.is_superuser %}
        <div class="home-operation" style="z-index: 999">
            <div class="home-cart"><a href="{% url 'rango:cart' %}"><img src="{% static 'images/cart.png' %}"/></a>
            </div>
        </div>
    {% endif %}
</div>
{% block body_block %}

{% endblock %}
<div id="footer">

    <div class="footer home-footer" style="background-color: #573BA3;">
        <div class="mod_help w1200" style="padding-top: 10px;">
            <p style="color: white">
                <a href="javascript:;" style="color: white">About us</a>
                <span>|</span>
                <a href="javascript:;" style="color: white">Map site</a>
            </p>
            <p class="coty" style="color: white">2021 Internet Technology - Team abc</p>
        </div>
    </div>
</div>
</body>
</html>