{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Orders
{% endblock %}
{% block body_block %}
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bought.css' %}">
    {% endblock %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>My Orders</h3></div>
                <div class="order-list">
                    {% if orders %}
                        {% for order in orders %}
                            <div class="order-item">
                                <div class="order-header">
                                    <div class="order-header-item">
                                        <div class="order-header-item-key">
                                            ORDER PLACED
                                        </div>
                                        <div class="order-header-item-val">
                                            {{ order.order.date }}
                                        </div>
                                    </div>
                                    <div class="order-header-item">
                                        <div class="order-header-item-key">
                                            TOTAL
                                        </div>
                                        <div class="order-header-item-val">
                                            {{ order.order.price }}*{{ order.order.quantity }}={{ order.order.total_price }}
                                        </div>
                                    </div>
                                    <div class="order-header-item">
                                        <div class="order-header-item-key">
                                            DISPATCH TO
                                        </div>
                                        <div class="order-header-item-val">
                                            {{ order.order.name }}
                                        </div>
                                    </div>
                                    <div class="order-header-item" style="width: 250px;">
                                        <div class="order-header-item-key">
                                            ORDER NUMBER
                                        </div>
                                        <div style="font-size: 13px;" class="order-header-item-val">
                                            {{ order.order.order_no }}
                                        </div>
                                    </div>
                                    <div class="order-header-item">
                                        <div class="order-header-item-key">
                                            STATUS
                                        </div>
                                        <div class="order-header-item-val bolder">
                                            {% if order.order.status == 0 %}
                                                PENDING
                                            {% elif order.order.status == 1 %}
                                                SHIPING
                                            {% elif order.order.status == 2 %}
                                                FINISHED
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="order-detail">
                                    <div class="order-detail-img">
                                        <a href="{% url 'rango:product' order.book.slug %}">
                                            <img src="{{ order.book.img }}"/>
                                        </a>
                                    </div>
                                    <div class="order-detail-title">
                                        <a href="{% url 'rango:product' order.book.slug %}">
                                            {{ order.book.title }} * {{ order.order.quantity }}
                                        </a>
                                    </div>
                                    <div class="order-operation">
                                        {% if order.order.isComment == 0 %}
                                            <a href="{% url 'rango:comment' order.order.order_no %}" class="layui-btn layui-btn-primary">Write a product review</a>
                                        {% else %}
                                            <a href="#" class="layui-btn layui-btn-primary" style="cursor: not-allowed;" ><i class="layui-icon layui-icon-ok"></i>Comment Finished</a>
                                        {% endif %}
                                        <a onclick="returnItem()"
                                           class="layui-btn layui-btn-primary">Return items</a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="nothing">You have no order records</div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script_block %}
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;
            window.returnItem = function () {
                layer.open({
                    btn: ['Got it'],
                    title: 'Information',
                    closeBtn: 1,
                    shadeClose: true,
                    content: 'Please Contract Customer Service'
                });
            }

            {% if err_msg %}
                layer.confirm('{{err_msg}}', {
                    btn: ['Got it'],
                    title: 'Information',
                    closeBtn: 1,
                    shadeClose: true,
                }, function (index, layero) {
                    layer.close(index)
                });
            {% endif %}


        });
    </script>
{% endblock %}
