{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Orders
{% endblock %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_center.css' %}">
{% endblock %}
{% block body_block %}
    <div class="content content-nav-base commodity-content">
    <div class="commod-cont-wrap" style="display: flex; justify-content: center;">
        <div class="commod-cont w1200 layui-clear">
            {% include 'rango/side.html' %}
            <div class="right-cont-wrap">
                <div class="right-cont">
                    <div class="cont-list layui-clear">
                        <div id="user_center">
                            <div class="title">
                                <table>
                                    <tr>
                                        <td width="94px"></td>
                                        <td width="376px">Books</td>
                                        <td width="141px">Price</td>
                                        <td width="47px">Number</td>
                                        <td width="141px">Total</td>
                                        <td width="141px">Status</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tables">
                                <div class="table status_pay">
                                    <div class="head">
                                        <span class="time"></span> <span class="text">Order No：
						</span> <span class="orderId"> {{ item.id }} </span> <span class="status">Not Completed</span>
                                    </div>
                                    <table>
                                        <tr>
                                            <td class="image" width="94px"><img
                                                                   src="{{ item.productPic }}" alt=""></td>
                                            <td class="info" width="376px">
                                                <div>Book：Book name</div>
                                                <br>
                                                <div>Author: Author name</div>
                                                <div>Address：XXXXX</div>
                                            </td>
                                            <td class="price" width="141px" rowspan="1">50.00</td>
                                            <td class="amount" width="57px" rowspan="1">1</td>
                                            <td class="pay" width="130px" rowspan="1">
                                                <div class="money">￡ 50.00</div>
                                                <div>（DHL）</div>
                                            </td>
                                            <td class="operate" width="141px" rowspan="1">

                                                <div>
                                                    <a class="btn" href="#">Finished</a>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
