{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Your Basket
{% endblock %}
{% block body_block %}
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
    {% endblock %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Shopping Basket</h3></div>
                <hr/>
                <div class="cart-list">
                    {% if cart_list %}
                        {% for book in cart_list %}
                            <div class="cart-item">
                                <div class="cart-img"><img
                                        src="{{ book.img }}"/>
                                </div>
                                <div class="cart-title">
                                    {{ book.title }}
                                </div>
                                <div class="cart-qty">
                                    Qty: {{ book.num }}
                                </div>
                                <div class="cart-price">
                                    {{ book.price }}
                                </div>
                                <div class="cart-op">
                                    <a href="{% url 'rango:cart_del' %}?id={{ book.id }}">Delete</a>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="cart-total">
                            Total: {{ total }}
                        </div>
                        <div class="cart-total">
                            <a href="{% url 'rango:cart_confirm' %}" class="layui-btn"><i
                                    class="layui-icon layui-icon-ok"></i>Confirm</a>
                        </div>
                    {% else %}

                        <div class="cart-nothing">You have nothing in your basket</div>

                    {% endif %}


                </div>
            </div>
        </div>

    </div>
{% endblock %}
