{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Categories
{% endblock %}
{% block body_block %}
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    {% endblock %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Books of Category: {{ category_name }}</h3></div>
                <div class="choose-bar">
                    <ul class="keyword-selector">
                    <li><a href="{% url 'rango:products' %}">Books</a></li>
                    <li><a href="{% url 'rango:category' category_name %}" class="active">Categories</a></li>
                </ul>
                </div>
                <div class="booklist">
                        {% if book_list %}
                            {% for book in book_list %}
                                    <div class="book">
                                        <div class="book-img">
                                            <div class="book-img-cover">
                                                <a href="{% url 'rango:product' book.slug %}"><img
                                                        src="{{ book.img }}?width=170&amp;height=255&amp;v=v2"></a>
                                            </div>
                                        </div>
                                        <div class="book-title">
                                            {{ book.title }}
                                        </div>
                                        <div class="book-author">
                                            {{ book.author }}
                                        </div>
                                        <div class="book-price">
                                            {{ book.price }}
                                        </div>
                                        <div class="book-add">
                                            <div style="background-color: #DE2454;border-radius: 15px;"
                                                 class="layui-btn layui-btn-danger"><i
                                                    class="layui-icon layui-icon-cart-simple"></i>
                                                ADD TO BASKET
                                            </div>
                                        </div>

                                    </div>
                            {% endfor %}

                        {% endif %}
                    </ul>


                </div>
            </div>
        </div>

    </div>
{% endblock %}
