{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Write a review
{% endblock %}
{% block body_block %}
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bought.css' %}">
    {% endblock %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">
                <div class="keyword"><h3>Write Review</h3></div>
                <div class="order-list">
                    <div class="order-item">

                        <div class="order-detail">
                            <div class="order-detail-img">
                                <a href="{% url 'rango:product' book.slug %}">
                                    <img src="{{ book.img }}"/>
                                </a>
                            </div>
                            <div class="order-detail-title">
                                <a href="{% url 'rango:product' book.slug %}">
                                    {{ book.title }}
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="comment-box">
                        <div class="comment-item">
                            <div class="comment-key">Comment</div>
                            <textarea type="text" id="comment" class="layui-textarea comment-val" name="comment"></textarea>
                        </div>
                        <button onclick="doComment()" style="background-color: #DE2454;border-radius: 20px;font-family: 'GT Super Bold', serif"
                                class="layui-btn layui-btn-danger"><i
                                class="layui-icon layui-icon-edit"></i>
                            SUBMIT
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block script_block %}
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;

            window.doComment = function () {
                $.ajax({
                    url: '{% url 'rango:comment' order_no %}',
                    type: 'POST',
                    data: {
                        'comment': $('#comment').val()
                    },
                    success: function (ret) {
                        if (ret.code == 200) {
                            layer.confirm('Comment made successfully', {
                                btn: ['Yes'],
                                title: 'Information',
                                closeBtn: 1,
                                shadeClose: true,
                            }, function (index, layero) {
                                location.href = '{% url 'rango:bought' %}'
                            });
                        }
                    }
                })
            }


        });
    </script>
{% endblock %}
