{% extends 'rango/base_home.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}


{% block body_block %}
    <div class="w1200">
        <div class="title">
            <h3>Rango: Get What You Want</h3>
        </div>
        <div class="search">
            <div class="layui-input-inline">
                <input type="text" placeholder="Search" autocomplete="off" class="box layui-input">
                <button lay-submit class="btn" type="submit"><img width="20px" height="20px"
                                                                  src="{% static 'images/search.png' %}"/></button>

            </div>
        </div>
        <div class="trending">
            <div class="trend-title">Popular Books</div>
            <div class="trend-list">
                {% if book_list %}
                    {% for book in book_list %}
                        <a href="{% url 'rango:product' book.slug %}" class="trend-book">
                            <img src="{{ book.img }}?width=170&amp;height=255&amp;v=v2">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}