{% extends 'rango/base_home.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}


{% block body_block %}
    <div class="w1200">
        <div class="title">
            <h3>Rango: Get What You Want</h3>
        </div>
        <div class="search">
            <div class="layui-input-inline">
                <input type="text" placeholder="Search" autocomplete="off" class="box layui-input">
                <button lay-submit class="btn" type="submit"><img width="20px" height="20px" src="{% static 'images/search.png' %}"/></button>

            </div>
        </div>
        <div class="trending">
            <div class="trend-title">Popular Books</div>
            <div class="trend-list">
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
                <div class="trend-book">
                    <img src="https://images-eu.bookshop.org/product-images/images/9780571273713.jpg?width=170&amp;height=255&amp;v=v2">
                </div>
            </div>
        </div>
    </div>


{% endblock %}