{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}
{% block head_block %}
    {#    <script src="https://apis.google.com/js/platform.js" async defer></script>#}
    {#    <meta name="google-signin-client_id" content="757884834792-k9e48llg108003vig4l8cfdihuv6e1lt.apps.googleusercontent.com">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block body_block %}
    <div class="w1200">
        <div class="login">
            <div class="login-header">
                <h1>Login</h1>
            </div>
            <div class="login-box">
                <div class="login-item">
                    <div class="login-label">Username</div>
                    <div>
                        <input class="login-input layui-input" type="text" />
                    </div>
                </div>
                <div class="login-item">
                    <div class="login-label">Password</div>
                    <div>
                        <input class="login-input layui-input" type="password" />
                    </div>
                </div>
                <div class="login-btn">
                    <input class="layui-btn" value="LOGIN"/>
                </div>

                <div class="login-bottom">
                    or
                    <a href="{% url 'rango:register' %}">Create a new account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
