{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Information of {{ book.title }}
{% endblock %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block body_block %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
{#            <div class="crumb b-crumb" style="margin-left: 10%">#}
{#                <a href="javascript:;">Home Page</a>#}
{#                <span>></span>#}
{#                <a href="javascript:;">All Books</a>#}
{#                <span>></span>#}
{#                <a href="javascript:;">Book detail</a>#}
{#            </div>#}
            <div class="product-intro layui-clear" id="intro">
                <div class="info">
                    <div class="pic"><img
                            src="{{ book.img }}?width=500&height=750&v=v2"/>
                    </div>
                    <div style="float: left;width: 5%;height: 1px"></div>
                    <div class="content">
                        <div class="b_title"><h1>{{ book.title }}</h1></div>
                        <div class="rate">1200+ likes</div>
                        <div class="author"><h3><span>{{ book.author }}</span> (Author)</h3></div>
                        <div class="category">Modern & contemporary fiction</div>
                        <div class="format" style="margin-bottom: 20px">
                            <div class="item">
                                <div class="type">{{ book.book_type }}</div>
                                <div class="lang">{{ book.language }}</div>
                                <div class="price">{{ book.price }}</div>
                            </div>
                        </div>
                        <div class="operation">
                            <div class="layui-btn layui-btn-danger"
                                 style="border-radius: 15px;background-color: #DE2454;"><i
                                    class="layui-icon layui-icon-cart-simple"></i>ADD TO BASKET
                            </div>
                            <div class="layui-btn layui-btn-primary" style="border-radius: 15px;"><i
                                    class="layui-icon layui-icon-camera"></i>ADD TO WISHLIST
                            </div>
                        </div>
                        <div class="desc">
                            <h1>Description</h1>
                            <hr/>
                            <div class="desc-content">
                                <p>From the days of giant passenger ships sliding past Arctic icebergs, to the daring
                                    pilots of WWII, to present-day Hollywood and its malcontents, at the core of this
                                    story is the indomitable Marian Graves and her twin brother Jamie who are twice
                                    abandoned by their parents. Marian and Jamie grow up roaming Montana forests, more
                                    comfortable with landscape than with people.<br> When a pair of aerobats take their
                                    exhilarating show to a nearby airfield, Marian's life is changed forever. Watching
                                    them roll, dive, and loop in their mini plane, she can think of nothing else but
                                    flying. As she grows into a woman, she sacrifices everything to command the
                                    breathtaking sense of freedom, of utter control over her own fate, that she feels
                                    when in the air. She becomes one of the most fearless pilots of her time, and in
                                    1949 she sets out to do what no one has done before: fly the Great Circle around the
                                    earth, north to south around the poles. Shortly before completing the journey, her
                                    plane disappears, lost to history. <br> In 2015, Hadley Baxter, former child star
                                    and poster girl of the blockbuster <i> Archangel</i> franchise, has just been fired
                                    for cheating on her on-screen boyfriend. Struggling to escape the fury of the fans,
                                    she grasps at an offer for the comeback role of a lifetime: to play the famed female
                                    pilot Marian Graves in a biopic. From the first pages of the script, she feels an
                                    instant connection with Marian, a woman who refused to be bound by gravity or any of
                                    the other strictures of her time. After filming is complete, her bond grows stronger
                                    as she begins to question whether the Great Marian Graves really did die at all.</p>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h1>Product Details</h1>
                            <hr/>
                            <div class="detail-item">
                                <div class="detail-key">Price</div>
                                <div class="detail-val">{{ book.price }}</div>
                            </div>
                            <div class="detail-item">
                                <div class="detail-key">Publisher</div>
                                <div class="detail-val">{{ book.publisher }}</div>
                            </div>
                            <div class="detail-item">
                                <div class="detail-key">Publish Date</div>
                                <div class="detail-val">{{ book.publish_date }}</div>
                            </div>
                            <div class="detail-item">
                                <div class="detail-key">Language</div>
                                <div class="detail-val">{{ book.publish_date }}</div>
                            </div>
                            <div class="detail-item">
                                <div class="detail-key">Type</div>
                                <div class="detail-val">{{ book.book_type }}</div>
                            </div>
                            <div class="detail-item">
                                <div class="detail-key">EAN/UPC</div>
                                <div class="detail-val">{{ book.ISBN }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
{% endblock %}
