{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Books
{% endblock %}
{% block body_block %}
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    {% endblock %}
    <div class="content content-nav-base datails-content">

        <div class="data-cont-wrap w1200">
            <div class="product-intro layui-clear" id="intro">

            {% if s_keyword %}
                <div class="keyword"><h3>Search for '{{ s_keyword }}'</h3></div>
            {% else %}
                <div class="keyword"><h3>Popular</h3></div>
            {% endif %}
                <div class="choose-bar">
                    <ul class="keyword-selector">
                    <li><a href="{% url 'rango:products' %}" class="active">Books</a></li>
                        {% if s_keyword %}
                            <li><a href="{% url 'rango:category' s_keyword %}">Categories</a></li>
                        {% else %}
                            <li><a href="{% url 'rango:categories' %}">Categories</a></li>
                        {% endif %}

                </ul>
                </div>
                <div class="booklist">
                        {% if book_list %}
                            {% for book in book_list %}
                                    <div class="book">
                                        <div class="book-img">
                                            <div class="book-img-cover">
                                                <a href="{% url 'rango:product' book.slug %}"><img
                                                        src="{{ book.img }}?width=170&amp;height=255&amp;v=v2"></a>
                                            </div>
                                        </div>
                                        <div class="book-title">
                                            {{ book.title }}
                                        </div>
                                        <div class="book-author">
                                            {{ book.author }}
                                        </div>
                                        <div class="book-price">
                                            {{ book.price }}
                                        </div>
                                        <div class="book-add">
                                            <div onclick="addToCart('{{ book.slug }}')" style="background-color: #DE2454;border-radius: 15px;"
                                                 class="layui-btn layui-btn-danger"><i
                                                    class="layui-icon layui-icon-cart-simple"></i>
                                                ADD TO BASKET
                                            </div>
                                        </div>

                                    </div>
                            {% endfor %}

                        {% endif %}
                    </ul>


                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script_block %}
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;
            window.addToCart = function (slug) {
                $.ajax({
                    url: '{% url 'rango:cart_add' %}',
                    type: 'POST',
                    data: {
                        'slug': slug
                    },
                    success: function (ret) {
                        if (ret.code == 200) {
                            layer.confirm('Book was added to your basket, do you want to check?', {
                                btn: ['Yes', 'No'],
                                title: 'Information',
                                closeBtn: 1,
                                icon: 1,
                                shadeClose: true,
                            }, function (index, layero) {
                                location.href = '{% url 'rango:cart' %}'
                            }, function (index) {
                                layer.close(index)
                            });
                        }else if (ret.code==500){
                            layer.confirm(ret.msg, {
                                btn: ['Got it'],
                                icon: 2,
                                title: 'Information',
                                closeBtn: 1,
                                shadeClose: true,
                            }, function (index, layero) {
                                layer.close(index)
                            });
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
